doctype html
html
  head
    script(type='text/javascript', src='dist/jquery.min.js')
    script(src="https://kit.fontawesome.com/70f2485383.js" crossorigin="anonymous")
    script(src="https://cdn.zingchart.com/zingchart.min.js")
    link(rel="stylesheet", href="/public/styles/master.css")
    link(rel="stylesheet", href="/css/all.css")
    block title
      title Default title
  body
    block content